@keyframes slide-in {
    from {
        transform: translateX(-10%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-in-alt {
    from {
        transform: translateX(-10%);
        opacity: 0.25;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}