footer {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
    color: #959595;
}

footer li {
    padding-inline: .5rem;
}

footer .socials-links {
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 1rem;
}

footer .copyrights {
    text-align: center;
    padding-block: 1rem;
    color: #959595;
}

footer .links li:nth-child(-n+2) {
    border-right: 1px solid #6c6c6c;
}

.copyrights {
    font-size: var(--fs-s);
    padding-block: 1rem;
}